@import url('https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap');
.navbar-brand {
    font-size: 30px;
    color: white !important;
    padding-left:5px;
}

.nav-link {
    color: white!important;
    padding: 10px 30px !important;
    font-size: 14px;
    font-family: font-family 'Spectral', serif;
}

.nav-link:hover {
    border-bottom: solid;
    border-width: 3px;
}

.navbar li a:hover {
    background-color: rgb(33, 83, 52, 0.7) !important;
}

.navbar {
    display: flex;
    background-color: rgb(33, 83, 52)!important;
}
body {
    background: #b3cbb9;
    font-size: 18px;
  }
  h1 {
    color: #254441;
    font-size: 50px;
  }
  .body {
    background: seashell;
    max-width: 1000px;
    height: auto;
    padding: 40px 10px 40px 15px; /*top right bottom left*/
    margin: 0 auto;
  }
  .body h2 {
    padding: 5px 600px 0px 100px;
  }
  .section1 {
    overflow: auto;
    padding-bottom: 15px;
    border-bottom: 1px dashed gray;
    text-align: justify;
    margin-top: 20px;
  }
  
  .summary {
    max-width: 800px;
    margin: 20px auto;
  }
  
  .summary li {
    font-family: "Spectral", serif;
  }
  .summary img {
    float: left;
    max-width: 270px;
    height: auto;
    padding-right: 20px;
    margin: 15px 10px;
  }
  .summary p {
    text-align: justify;
    font-family: "Spectral", serif;
    max-width: 470px;
    float: left;
    margin-left: 20px;
  }
  .summary a {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:15px;
    max-width:470px;
    font-size: 25px;
    color: #133C55;
    text-decoration: none;
  }
  .summary a:hover {
    text-decoration: underline;
  }
  .subheading {
    font-size: 150%;
  }
  h2 {
    color: #133C55;
    font-size: 40px;
  }
  